/*Layout and Categories*/
.layout {
    background-color: #081526;
    height: 100vh;
    width: 100vw;
}

.content {
    padding: 2.5rem;
    padding-bottom: 0rem;
    height: 1fr;
}

.footer {
    display: grid;
    background-color: #081526;
    align-items: center;
}

/*Text*/
#footerText {
    color: #122640;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 3rem;
    font-weight: 700;
}

#fortnite {
    margin: 0 !important;
}

#title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 7rem;
    font-weight: 700;
    line-height: 100%;
    color: antiquewhite;
    text-align: center;
    align-self: end;
}

#titelDiv {
    padding-top: 2rem;
    display: grid;
    align-items:center;
    /*grid-template-rows: 1.5fr 1fr;*/
    gap: 5px;
}

#topic {
    color: #122640;
    font-size: 1.5rem;
    font-weight: 700;
}

/*Buttons*/
#contentLink {
    display: grid;
    height: 100%;
}

#startButton {
    background-color: #7E97B8;
    color: antiquewhite;
    border-color: antiquewhite;
    border-width: 3px;
    justify-self: center;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    height:2.5rem;
    width: 15rem;
}

#startButton:hover {
    background-color: #55677D;
    border-color: #55677D;
}


/*Maps*/
/*
.map-container {
    height: 900px;
    width: 90%;
}
*/

g {
    opacity: 0.5;
}

#credits {
    margin-bottom: 0px;
}

#footerLanding {
    width: 100%;
    padding: 0px;
    z-index: 99;
}

h5 {
    color: #122640;
}

#landingPage {
    height: 100vh;
    .div{
        align-items: center;
    }

    .layer.background{
        position: fixed;
        z-index: 1;
        opacity: 0.6;
    }

    .layer.front{
        position: relative;
        z-index: 100;
    }
}

#leftGreen{
    background-color: green;
    margin-left: 228px;
    margin-top: 5px;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    z-index: 5;
    opacity: 0.9;
    animation:21s 5s ease-in-out infinite greenTrain-in;
}

@keyframes greenTrain-in {
    0% {
        transform: translateY(0) translateX(0);
      }
      14% {
        transform: translateY(113px) translateX(0);
      }
      28% {
        transform: translateY(114px) translateX(132px);
      }
      42% {
        transform: translateY(250px) translateX(132px);
      }
      56% {
        transform: translateY(250px) translateX(-112px);
      }
      70% {
        transform: translateY(440px) translateX(-112px);
      }
      84% {
        transform: translateY(440px) translateX(-16px);
      }
      98% {
        transform: translateY(520px) translateX(-16px);
        opacity: 0.9;
      }
      100% {
        opacity: 0;
      }
  }

/* contentPage------------------------------*/

#contentPage {
    height: 400vh;
}

/*titel Page*/
#titelPage {
    color: antiquewhite;
    height: 100vh;
    display: grid;
}

#homeButton {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 3rem !important;
    left: 3rem !important;
}

#homeImg {
    height: 3rem;
    width: 3rem;
}

/*population Page*/
#popPage {
    height: 100vh;
}

#population-map {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3rem;
    grid-template-areas:
        "map checkbox" 
        "map description"
        "map infobox";
    
    .leaflet-container {
        grid-area: map;
        height: 80% !important;
        width: 100% !important;
    }
}

#swisstopoCheckbox {
    grid-area: description;
}

/*transport Page*/

#transportPage {
    height: 100vh;
}

#public-transit-map {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
    grid-template-areas: 
        "legend map"
        "info   map";
    
    .leaflet-container {
        grid-area: map;
        height: 80% !important;
        width: 100% !important;
    }

    .info{
        grid-area: info;
    }

    .legend {
        grid-area: legend;
    }
}

/*interactive Page*/

#interactivePage {
    padding-top: 5rem;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
    grid-template-areas:
        "map   legend"
        "map   checkBoxes"
        "map   form";
}

#map-zurich {
    grid-area: map;
    height: 90%;
    width: auto;
    
}

#legend-zurich {
    grid-area: legend;
    height: 10rem;
}

#mapFooter {
    background-color: #081526;
    justify-content: center;
    align-items: center;
}

#mapContent {
    padding-top: 0px;
}

#contentTitel {
    color:antiquewhite;
    justify-self: center;
    align-self: center;
}

#mapHeader {
    align-self: center;
    margin-left: 3rem;
    color: antiquewhite;
}

#map-zurich a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#map-zurich div {
    border: none;
    height: 15%;
    background: none;
}

#checkBoxes {
    grid-area: checkBoxes;
    display: flex;
    flex-direction: column;
}

#lineForm {
    grid-area: form;
    border: none;
    background-color: #081526;
    height: 10rem;

}


.ant-collapse-header {
    height: 3rem;
    border: none;
    background-color: #081526;

}

.ant-collapse { 
    border-color:  #081526;
    background-color:    #081526;
}
.ant-collapse-item {
    border-color:  #081526;
    background-color:  #081526;
    height: 12rem;
    border: 0 !important;

}

.ant-collapse-content-box {
    height: 10rem;
    padding: 0rem;
}

.ant-collapse-content_ant-collapse-content-active {
    border: none;
    background-color: black;
}

.newLineForm {
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "transport"
        "interval"
        "submit"
    ;
}


.ant-form-item-row {
    display: flex;
    justify-content: space-evenly; 
    align-content: center;
    align-items: center;
}

.transport {
    grid-area: transport;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.interval {
    grid-area: interval;
}

.submit {
    grid-area: submit;
}

.ant-form-item-control-input-content {
    display: flex;
    justify-content: center;
    width: 1rem;
}

.ant-select {
    align-self: center;
}

.ant-col {
    display: flex;
    margin: 0;
    flex-wrap: nowrap;
    flex: none;
}

.ant-btn {
    margin: 0;
    align-self: center;
}

.ant-form-item-label {
    align-content: center;
    align-items: center;
}
.ant-form-item-required {
    display: block;
}

#attributionsButton {
    color: white;
}


/* landing page */

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#interchanges {
    position: absolute;
    top: 0;
    left: 0;
}

#trains {
    position: absolute;
    top: 0;
    left: 0;
}

.ant-checkbox+span {
    color: white;
}