.content {
    padding: 2.5rem;
    padding-bottom: 0rem;
    height: 1fr;
}

.footer {
    display: grid;
    background-color: #081526;
    align-items: center;
}

#footerText {
    color: #122640;
    align-self: center;
    justify-self: center;
    height: inherit;
    font-size: 3rem;
    font-weight: 700;
}

.layout {
    background-color: #081526;
}

#title {
    font-size: 7rem;
    font-weight: 700;
    line-height: 100%;
    color: antiquewhite;
    text-align: center;
    align-self: end;
}

#titelDiv {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
}

#contentLink {
    display: grid;
    height: 100%;
}

#startButton {
    background-color: #7E97B8;
    color: antiquewhite;
    border-color: antiquewhite;
    border-width: 3px;
    justify-self: center;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    height:2.5rem;
    width: 15rem;
}

#startButton:hover {
    background-color: #55677D;
    border-color: #55677D;
}

#topic {
    color: #122640;
    font-size: 1.5rem;
    font-weight: 700;
}

.map-container {
    height: 900px; /* Adjust as needed */
    width: 90%;
}

g {
    opacity: 0.5;
}

div {
    height: 100%
}

#fortnite {
    margin-bottom: 0px;
}

#footerLanding {
    padding: 0px;
}

h5 {
    color: #122640;
}

#landingPage {
    height: 100vh;
}

/* contentPage*/

#mapContent {
    padding-top: 0px;
}
#contentPage {
    height: 200vh;
}

#titelPage {
    color: antiquewhite;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

#mapPage {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-columns: 4fr 1fr;
    column-gap: 3rem;
    grid-template-areas: 
        "titel titel"
        "map   legend"
        "map   checkBoxes"
        "map   form";
}

#mapHeader {
    grid-area: titel;
}

#map-zurich {
    height: 90%;
    width: auto;
    grid-area: map;
}

#legend-zurich {
    grid-area: legend;
    height: 10rem;
}

#mapFooter {
    background-color: #081526;
}

#contentTitel {
    color:antiquewhite;
}

#mapHeader {
    align-self: center;
    margin-left: 3rem;
    color: antiquewhite;
}

#map-zurich a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#map-zurich div {
    border: none;
    height: 15%;
    background: none;
}

#checkBoxes {
    grid-area: checkBoxes;
    display: flex;
    flex-direction: column;
}

#lineForm {
    grid-area: form;
    border: none;
    background-color: #081526;
    height: 10rem;

}


.ant-collapse-header {
    height: 3rem;
    border: none;
    background-color: #081526;

}

.ant-collapse { 
    border-color:  #081526;
    background-color:    #081526;
}
.ant-collapse-item {
    border-color:  #081526;
    background-color:  #081526;
    height: 12rem;
    border: 0 !important;

}

.ant-collapse-content-box {
    height: 10rem;
    padding: 0rem;
}

.ant-collapse-content_ant-collapse-content-active {
    border: none;
    background-color: black;
}

.newLineForm {
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "transport"
        "interval"
        "submit"
    ;
}


.ant-form-item-row {
    display: flex;
    justify-content: space-evenly; 
    align-content: center;
    align-items: center;
}

.transport {
    grid-area: transport;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.interval {
    grid-area: interval;
}

.submit {
    grid-area: submit;
}

.ant-form-item-control-input-content {
    display: flex;
    justify-content: center;
    width: 1rem;
}

.ant-select {
    align-self: center;
}

.ant-col {
    display: flex;
    margin: 0;
    flex-wrap: nowrap;
    flex: none;
}

.ant-btn {
    margin: 0;
    align-self: center;
}

.ant-form-item-label {
    align-content: center;
    align-items: center;
}
.ant-form-item-required {
    display: block;
}