/* Text stylings used across all pages */

/* Root */

@media (prefers-color-scheme: dark) {
  :root {
    --highlighted-text-color: #80ED99;
    --paragraph-text-color: #DDCFBE;
    --topic: #122640;
    --util: antiquewhite;
    --util2: #49BFC1;
    --attributions: hsl(205, 18%, 86%);
    --bg-color-underline: white;
    --shadow: black;
    --bg-color: #021430;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --highlighted-text-color: #2C9165;
    --paragraph-text-color: black;
    --topic: #122640;
    --util: black;
    --util2: #49BFC1;
    --attributions: hsl(205, 18%, 86%);
    --bg-color-underline: white;
    --shadow: black;
    --bg-color: #f7f7f7;
  }
}

/* Classes */
.highlightedText {
  margin: 0;
  display: block;
  color: var(--highlighted-text-color) !important;
}

p {
  color: var(--paragraph-text-color) !important;
}

td {
  color: var(--util) !important;
}

h2 {
  color: var(--util) !important;
  display: flex;
  text-align: center;
}

li {
  color: var(--util) !important;
}

/* IDs */
#topic {
  color: var(--topic) !important;
  font-size: 1.5rem;
  font-weight: 700;
}