/* Text stylings used across all pages */

/* Classes */
.highlightedText {
  margin: 0;
  display: block;
  color: #80ED99 !important;
}

p {
  color: #DDCFBE !important;
}

td {
  color: antiquewhite !important;
}

h2 {
  color: antiquewhite !important;
  display: flex;
  text-align: center;
}

li {
  color: antiquewhite;
}

/* IDs */
#topic {
  color: #122640;
  font-size: 1.5rem;
  font-weight: 700;
}