/* CSS Classes and IDs strictly used on the attributions page */

/* IDs */
#attributions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        color: var(--attributions) !important;
    }
}

#att_title {
    font-size: 4vw;
    margin: 1vw;
    margin-bottom: 0;
}

#att_general {
    display: flex;
    flex-direction: column;
    margin-bottom: 7vh;
}

#att_grid {
    width: 100vw;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "front_title back_title"
        "frontend backend"
    ;
}

#att_frontend {
    grid-area: frontend;
    display: flex;
    flex-direction: column;
        margin-left: 17vw;
    li {
        padding:15px;
        font-size: 1.25vw;
    }
}
 
#att_backend {
    grid-area: backend;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    li {
        padding:15px;
        font-size: 1.25vw;
    }
}

#att_frontend_title{
    grid-area: front_title;
    margin-top: 5vh;
    margin-left: 23vw;
}

#att_backend_title{
    grid-area: back_title;
    margin-top: 5vh;
    margin-left: 18vw;
}

#attributionsPage {
    height: 100vh;
    h3 {
        margin-bottom: 10px !important;
    }
}

#underline {
    border: none;
    background-color: var(--bg-color-underline);
    height: 3px;
    width: 100vw;
    margin-bottom: 3rem;
}

#react_logo{
    height: 5vh;
}

#react_router_logo{
    height: 5vh;
    margin-left: 6vw;
}

#react_link{
    font-size: 4vh;
    margin-left: 1vw;
}

#react_router_link{
    font-size: 4vh;
    margin-left: 1vw;
}

