/* CSS Classes and IDs used strictly on the content page */

/* Classes */
.contentTitle {
    position:absolute;
    font-size: 10vw;
    color: antiquewhite !important;
    z-index: 100;
    text-shadow: -1px 0 var(--shadow), 0 1px var(--shadow), 1px 0 var(--shadow), 0 -1px var(--shadow);
    filter: drop-shadow(5px 5px 15px var(--shadow));
}

#HMformula {
    font-size: 16px;
}

.invert-img {
    img {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}

.page {
    padding: 5rem 2rem 0rem 2rem;
}

.reveal{
    position: relative;
    transform: translateY(15vh);
    opacity: 0;
    transition: 1.5s all ease;
  }

  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.textPage {
    height: 75vh;
}

/* IDs */
#attributionLink2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 3rem !important;
    left: 3rem !important;
    h1 {
        color: antiquewhite !important;
        margin: 0;
    }
}

#contentPage {
    height: 625vh;
}

#title_div {
    position: absolute;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first_title {
    margin-right: 27vw;
    margin-bottom: 40vh;
}

#second_title {
    margin-left: 25vw;
    color: #81C784 !important;
}

#third_title{
    margin-top: 35vh;
    margin-left: 5vw;
}

#custom-map-description {
    display: grid;
    padding: 0 3rem;

    gap: 3rem;
    justify-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        "title1 title2"
        "info1   info2"
    ;
    
    #title1 {
        margin: 0;
        grid-area: title1;
        align-self: end;
    }

    #title2 {
        margin: 0;
        grid-area: title2;
        align-self: end;
    }

    #info1 {
        grid-area: info1;
        color: var(--util);
        align-self: start;
        text-align: center;
    }

    #info2 {
        grid-area: info2;
        color: var(--util);
        text-align: center;
        align-self: start;
    }
}

#heatmap-description {
    display: grid;
    padding: 0 3rem;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 3rem;
    justify-items: center;
    grid-template-areas:
        "title1 title2"
        "info1   info2"
    ;

    #title1 {
        margin: 0;
        grid-area: title1;
        align-self: end;
    }

    #info1 {
        grid-area: info1;
        color: var(--util);
        align-self: start;
        text-align: center;
    }

    #title2 {
        margin: 0;
        grid-area: title2;
        align-self: end;
    }

    #info2 {
        grid-area: info2;
        color: var(--util);
        text-align: center;
        align-self: start;
    }
}

#interactivePage {
    padding-top: 5rem;
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 4fr 3fr;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
    grid-template-areas:
        "map   checkBoxes"
        "map   form"
        "map   lineLegend";

    #map-zurich {
        grid-area: map;
        height: 90%;
        width: 100%;
        border-style: solid;
        border-color: var(--border);
    }

    #lineLegend {
        grid-area: lineLegend;
        height: 10rem;
        padding-left: 2rem;
    }

    #info_text {
        grid-area: score;
        display: flex;
        justify-content: center;
    }
    
    .interactive_checkbox {
        grid-area: checkboxes;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 4vh;
    }

    #interactive_text {
        grid-area: description;
        display: flex;
        flex-direction: column;
    }

    #checkBoxes {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
            "score   score"
            "checkboxes   description";
        h2 {
            margin: 0;
        }
    }

    #lineForm {
        grid-area: form;
        background-color: var(--bg-color);
        height: 10rem;
    }
}

#loading {
    position:sticky;
    top: 5rem;
    padding-left: 88vw;
    height: 0;
    z-index: 1000;
}

#population-map {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3rem;
    grid-template-areas:
        "map description" 
        "map checkbox"
        "map infobox";
    
    .leaflet-container {
        grid-area: map;
        height: 90% !important;
        width: 100% !important;
        border-style: solid;
        border-color: var(--border);
    }

    #populationTitle {
        grid-area: description;
        padding-top: 2rem;
    }


    #swissTopoCheckboxDiv {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "text"
            "button";
    }

    #buttonText {
        grid-area: text;
    }

    #swisstopButton{
        grid-area: checkbox;
        grid-area: button;
        justify-self: center;
        height: auto;
        width: 60%;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            display: flex;
        }

        p {
            text-align: center;
            margin: 0;
        }

        .ant-checkbox {
            visibility: hidden;
            display: none;
        }
    }
    
    #infoBox {
        grid-area: infobox;
    }

    #populationTitle {
        grid-area: description;
        display: block;
        margin: 0;
    }
}

#popPage {
    height: 100vh;
}

#public-transit-map {
    height: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 3fr 3fr;
    column-gap: 3rem;
    grid-template-areas: 
        "title  map"
        "info map"
        "legend map";
    
    .leaflet-container {
        grid-area: map;
        height: 90% !important;
        width: 100% !important;
        border-style: solid;
        border-color: var(--border);
    }

    #ptInfo {
        grid-area: info;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    #transitTitle {
        grid-area: title;
        margin: 0;
    }

    .legend {
        grid-area: legend;
        margin-bottom: 1rem;
        height: 50%;
        display: grid;
    }
}

#pt-map-description {
    display: grid;
    padding: 0 3rem;

    gap: 3rem;
    justify-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 5fr;
    grid-template-areas:
        "title1 title2"
        "info1   info2"
    ;
    
    #title1 {
        margin: 0;
        grid-area: title1;
        align-self: end;
    }

    #title2 {
        margin: 0;
        grid-area: title2;
        align-self: end;
    }

    #info1 {
        grid-area: info1;
        color: var(--util);
        align-self: start;
        text-align: center;
    }

    #info2 {
        grid-area: info2;
        color: var(--util);
        text-align: center;
        align-self: start;
    }
}

#skipButton {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 3rem !important;
    right: 3rem !important;
    h1 {
        color: var(--util) !important;
        margin: 0;
    }
}

#skip_up_button {
    display: flex;
    position: absolute;
    margin-left: 88vw;
    margin-top: 75vh;
}

#switch {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 3rem !important;
    left: 3rem !important;
    width: 2vw;
}

#titlePage {
    color: antiquewhite;
    height: 100vh;
    display: grid;
}

#transportPage {
    height: 100vh;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #021430;
}

#zurichVideo {
    position:relative;
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    object-fit: cover;
}

.scroll-to-top {
    img {
        -webkit-filter: invert(var(--invert-filter));
        filter: invert(var(--invert-filter));
    }
}

